REACT_APP_SUPABASE_URL=https://uyikwuziqqujpwfeacyk.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV5aWt3dXppcXF1anB3ZmVhY3lrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ5ODQxMzYsImV4cCI6MjA5MDU2MDEzNn0.lDbk5g6clNT3G4aLce8N5x-gkUDsN0zYAQrqwlroeGo
